In [1]:
import pandas as pd

In [2]:
train=pd.read_csv('train_gps_points.csv')

In [3]:
train.head(2)

                     Datetime  Longitude_X  Latitude_Y
0  2016-02-01 08:01:10 +08:00   121.590916   25.080958
1  2016-02-01 08:01:16 +08:00   121.551468   25.063524

In [4]:
time = []
for i in range(len(train['Datetime'])):
    time.append(train['Datetime'][i][:19])

In [5]:
time

['2016-02-01 08:01:10',
 '2016-02-01 08:01:16',
 '2016-02-01 08:01:42',
 '2016-02-01 08:01:59',
 '2016-02-01 08:02:04',
 '2016-02-01 08:02:24',
 '2016-02-01 08:02:26',
 '2016-02-01 08:02:56',
 '2016-02-01 08:03:00',
 '2016-02-01 08:03:13',
 '2016-02-01 08:03:25',
 '2016-02-01 08:03:28',
 '2016-02-01 08:03:34',
 '2016-02-01 08:03:44',
 '2016-02-01 08:03:49',
 '2016-02-01 08:04:02',
 '2016-02-01 08:04:42',
 '2016-02-01 08:05:10',
 '2016-02-01 08:05:31',
 '2016-02-01 08:05:48',
 '2016-02-01 08:06:01',
 '2016-02-01 08:06:12',
 '2016-02-01 08:06:20',
 '2016-02-01 08:06:28',
 '2016-02-01 08:06:30',
 '2016-02-01 08:07:23',
 '2016-02-01 08:07:46',
 '2016-02-01 08:08:06',
 '2016-02-01 08:08:10',
 '2016-02-01 08:08:31',
 '2016-02-01 08:08:44',
 '2016-02-01 08:09:09',
 '2016-02-01 08:09:10',
 '2016-02-01 08:09:18',
 '2016-02-01 08:09:19',
 '2016-02-01 08:09:21',
 '2016-02-01 08:09:23',
 '2016-02-01 08:09:29',
 '2016-02-01 08:09:40',
 '2016-02-01 08:09:53',
 '2016-02-01 08:09:54',
 '2016-02-01 08:09:55',
 '2016-02-01 08:10:09',
 '2016-02-01 08:10:18',
 '2016-02-01 08:10:19',
 '2016-02-01 08:11:32',
 '2016-02-01 08:11:33',
 '2016-02-01 08:11:55',
 '2016-02-01 08:12:19',
 '2016-02-01 08:12:35',
 '2016-02-01 08:12:35',
 '2016-02-01 08:12:45',
 '2016-02-01 08:12:56',
 '2016-02-01 08:12:59',
 '2016-02-01 08:13:09',
 '2016-02-01 08:13:25',
 '2016-02-01 08:13:39',
 '2016-02-01 08:13:55',
 '2016-02-01 08:14:06',
 '2016-02-01 08:14:15',
 '2016-02-01 08:14:23',
 '2016-02-01 08:14:26',
 '2016-02-01 08:14:29',
 '2016-02-01 08:15:30',
 '2016-02-01 08:15:43',
 '2016-02-01 08:15:44',
 '2016-02-01 08:15:47',
 '2016-02-01 08:16:38',
 '2016-02-01 08:16:40',
 '2016-02-01 08:17:09',
 '2016-02-01 08:17:48',
 '2016-02-01 08:18:00',
 '2016-02-01 08:18:09',
 '2016-02-01 08:18:19',
 '2016-02-01 08:18:29',
 '2016-02-01 08:18:49',
 '2016-02-01 08:19:01',
 '2016-02-01 08:19:02',
 '2016-02-01 08:19:51',
 '2016-02-01 08:19:57',
 '2016-02-01 08:20:07',
 '2016-02-01 08:20:15',
 '2016-02-01 08:20:25',
 '2016-02-01 08:20:27',
 '2016-02-01 08:20:57',
 '2016-02-01 08:21:12',
 '2016-02-01 08:21:17',
 '2016-02-01 08:21:21',
 '2016-02-01 08:21:31',
 '2016-02-01 08:21:55',
 '2016-02-01 08:22:35',
 '2016-02-01 08:22:44',
 '2016-02-01 08:22:46',
 '2016-02-01 08:22:48',
 '2016-02-01 08:22:50',
 '2016-02-01 08:23:16',
 '2016-02-01 08:23:21',
 '2016-02-01 08:23:32',
 '2016-02-01 08:23:44',
 '2016-02-01 08:23:46',
 '2016-02-01 08:24:28',
 '2016-02-01 08:24:54',
 '2016-02-01 08:24:55',
 '2016-02-01 08:25:14',
 '2016-02-01 08:25:19',
 '2016-02-01 08:25:22',
 '2016-02-01 08:25:47',
 '2016-02-01 08:25:53',
 '2016-02-01 08:26:16',
 '2016-02-01 08:26:19',
 '2016-02-01 08:26:24',
 '2016-02-01 08:26:41',
 '2016-02-01 08:26:57',
 '2016-02-01 08:27:11',
 '2016-02-01 08:27:16',
 '2016-02-01 08:27:22',
 '2016-02-01 08:27:47',
 '2016-02-01 08:28:29',
 '2016-02-01 08:28:37',
 '2016-02-01 08:29:07',
 '2016-02-01 08:29:30',
 '2016-02-01 08:29:39',
 '2016-02-01 08:29:53',
 '2016-02-01 08:30:38',
 '2016-02-01 08:30:40',
 '2016-02-01 08:31:04',
 '2016-02-01 08:31:28',
 '2016-02-01 08:31:41',
 '2016-02-01 08:31:57',
 '2016-02-01 08:32:03',
 '2016-02-01 08:33:05',
 '2016-02-01 08:33:10',
 '2016-02-01 08:33:16',
 '2016-02-01 08:33:29',
 '2016-02-01 08:34:00',
 '2016-02-01 08:34:02',
 '2016-02-01 08:34:05',
 '2016-02-01 08:34:27',
 '2016-02-01 08:34:46',
 '2016-02-01 08:35:08',
 '2016-02-01 08:35:55',
 '2016-02-01 08:35:55',
 '2016-02-01 08:36:00',
 '2016-02-01 08:36:33',
 '2016-02-01 08:36:47',
 '2016-02-01 08:36:56',
 '2016-02-01 08:36:59',
 '2016-02-01 08:37:27',
 '2016-02-01 08:38:47',
 '2016-02-01 08:38:53',
 '2016-02-01 08:39:17',
 '2016-02-01 08:39:22',
 '2016-02-01 08:39:25',
 '2016-02-01 08:39:25',
 '2016-02-01 08:39:52',
 '2016-02-01 08:39:57',
 '2016-02-01 08:39:57',
 '2016-02-01 08:40:41',
 '2016-02-01 08:41:24',
 '2016-02-01 08:41:26',
 '2016-02-01 08:41:29',
 '2016-02-01 08:41:30',
 '2016-02-01 08:41:49',
 '2016-02-01 08:42:17',
 '2016-02-01 08:42:24',
 '2016-02-01 08:43:02',
 '2016-02-01 08:43:06',
 '2016-02-01 08:43:37',
 '2016-02-01 08:43:51',
 '2016-02-01 08:44:00',
 '2016-02-01 08:44:36',
 '2016-02-01 08:44:37',
 '2016-02-01 08:44:43',
 '2016-02-01 08:44:43',
 '2016-02-01 08:44:48',
 '2016-02-01 08:45:23',
 '2016-02-01 08:46:21',
 '2016-02-01 08:46:49',
 '2016-02-01 08:47:12',
 '2016-02-01 08:47:14',
 '2016-02-01 08:48:11',
 '2016-02-01 08:49:04',
 '2016-02-01 08:49:08',
 '2016-02-01 08:49:12',
 '2016-02-01 08:49:33',
 '2016-02-01 08:50:19',
 '2016-02-01 08:50:55',
 '2016-02-01 08:51:21',
 '2016-02-01 08:51:26',
 '2016-02-01 08:51:38',
 '2016-02-01 08:51:56',
 '2016-02-01 08:52:40',
 '2016-02-01 08:52:50',
 '2016-02-01 08:53:00',
 '2016-02-01 08:53:31',
 '2016-02-01 08:53:41',
 '2016-02-01 08:54:18',
 '2016-02-01 08:54:23',
 '2016-02-01 08:55:29',
 '2016-02-01 08:55:37',
 '2016-02-01 08:55:44',
 '2016-02-01 08:55:44',
 '2016-02-01 08:56:09',
 '2016-02-01 08:56:10',
 '2016-02-01 08:56:14',
 '2016-02-01 08:56:19',
 '2016-02-01 08:57:28',
 '2016-02-01 08:57:41',
 '2016-02-01 08:57:55',
 '2016-02-01 08:58:38',
 '2016-02-01 08:59:19',
 '2016-02-01 08:59:29',
 '2016-02-01 09:00:09',
 '2016-02-01 09:00:13',
 '2016-02-01 09:00:30',
 '2016-02-01 09:01:43',
 '2016-02-01 09:01:53',
 '2016-02-01 09:02:00',
 '2016-02-01 09:02:16',
 '2016-02-01 09:02:21',
 '2016-02-01 09:03:17',
 '2016-02-01 09:03:25',
 '2016-02-01 09:03:49',
 '2016-02-01 09:04:37',
 '2016-02-01 09:05:02',
 '2016-02-01 09:05:11',
 '2016-02-01 09:05:50',
 '2016-02-01 09:06:12',
 '2016-02-01 09:06:52',
 '2016-02-01 09:08:29',
 '2016-02-01 09:08:51',
 '2016-02-01 09:09:00',
 '2016-02-01 09:09:21',
 '2016-02-01 09:10:18',
 '2016-02-01 09:11:10',
 '2016-02-01 09:11:26',
 '2016-02-01 09:11:44',
 '2016-02-01 09:12:18',
 '2016-02-01 09:13:25',
 '2016-02-01 09:13:39',
 '2016-02-01 09:13:52',
 '2016-02-01 09:14:16',
 '2016-02-01 09:14:43',
 '2016-02-01 09:14:56',
 '2016-02-01 09:15:20',
 '2016-02-01 09:15:32',
 '2016-02-01 09:15:51',
 '2016-02-01 09:16:31',
 '2016-02-01 09:16:38',
 '2016-02-01 09:17:09',
 '2016-02-01 09:17:25',
 '2016-02-01 09:17:44',
 '2016-02-01 09:17:54',
 '2016-02-01 09:18:25',
 '2016-02-01 09:18:34',
 '2016-02-01 09:19:06',
 '2016-02-01 09:19:34',
 '2016-02-01 09:19:56',
 '2016-02-01 09:19:57',
 '2016-02-01 09:20:07',
 '2016-02-01 09:20:38',
 '2016-02-01 09:22:38',
 '2016-02-01 09:22:43',
 '2016-02-01 09:22:44',
 '2016-02-01 09:22:45',
 '2016-02-01 09:22:58',
 '2016-02-01 09:23:00',
 '2016-02-01 09:23:00',
 '2016-02-01 09:23:15',
 '2016-02-01 09:23:41',
 '2016-02-01 09:24:39',
 '2016-02-01 09:27:49',
 '2016-02-01 09:28:50',
 '2016-02-01 09:28:51',
 '2016-02-01 09:29:28',
 '2016-02-01 09:30:35',
 '2016-02-01 09:31:05',
 '2016-02-01 09:31:06',
 '2016-02-01 09:31:59',
 '2016-02-01 09:32:05',
 '2016-02-01 09:32:36',
 '2016-02-01 09:32:55',
 '2016-02-01 09:33:04',
 '2016-02-01 09:33:47',
 '2016-02-01 09:34:08',
 '2016-02-01 09:34:52',
 '2016-02-01 09:35:21',
 '2016-02-01 09:35:29',
 '2016-02-01 09:36:24',
 '2016-02-01 09:36:48',
 '2016-02-01 09:37:18',
 '2016-02-01 09:37:29',
 '2016-02-01 09:38:06',
 '2016-02-01 09:38:13',
 '2016-02-01 09:38:34',
 '2016-02-01 09:38:50',
 '2016-02-01 09:39:04',
 '2016-02-01 09:39:30',
 '2016-02-01 09:40:27',
 '2016-02-01 09:40:27',
 '2016-02-01 09:40:46',
 '2016-02-01 09:41:03',
 '2016-02-01 09:42:33',
 '2016-02-01 09:42:52',
 '2016-02-01 09:42:59',
 '2016-02-01 09:43:41',
 '2016-02-01 09:43:46',
 '2016-02-01 09:45:00',
 '2016-02-01 09:45:22',
 '2016-02-01 09:45:38',
 '2016-02-01 09:45:43',
 '2016-02-01 09:45:49',
 '2016-02-01 09:46:04',
 '2016-02-01 09:46:57',
 '2016-02-01 09:47:10',
 '2016-02-01 09:47:46',
 '2016-02-01 09:48:14',
 '2016-02-01 09:48:16',
 '2016-02-01 09:48:22',
 '2016-02-01 09:48:34',
 '2016-02-01 09:49:06',
 '2016-02-01 09:49:28',
 '2016-02-01 09:50:41',
 '2016-02-01 09:50:42',
 '2016-02-01 09:51:08',
 '2016-02-01 09:51:25',
 '2016-02-01 09:51:31',
 '2016-02-01 09:51:38',
 '2016-02-01 09:51:39',
 '2016-02-01 09:52:15',
 '2016-02-01 09:53:13',
 '2016-02-01 09:53:30',
 '2016-02-01 09:53:50',
 '2016-02-01 09:54:03',
 '2016-02-01 09:54:16',
 '2016-02-01 09:54:40',
 '2016-02-01 09:55:54',
 '2016-02-01 09:57:14',
 '2016-02-01 09:59:49',
 '2016-02-01 10:01:29',
 '2016-02-01 10:01:38',
 '2016-02-01 10:01:39',
 '2016-02-01 10:01:43',
 '2016-02-01 10:01:53',
 '2016-02-01 10:02:29',
 '2016-02-01 10:02:44',
 '2016-02-01 10:03:01',
 '2016-02-01 10:03:29',
 '2016-02-01 10:03:45',
 '2016-02-01 10:04:12',
 '2016-02-01 10:04:35',
 '2016-02-01 10:04:35',
 '2016-02-01 10:04:45',
 '2016-02-01 10:06:02',
 '2016-02-01 10:06:12',
 '2016-02-01 10:06:43',
 '2016-02-01 10:06:55',
 '2016-02-01 10:07:07',
 '2016-02-01 10:08:54',
 '2016-02-01 10:09:01',
 '2016-02-01 10:09:36',
 '2016-02-01 10:09:56',
 '2016-02-01 10:09:56',
 '2016-02-01 10:10:13',
 '2016-02-01 10:11:08',
 '2016-02-01 10:12:08',
 '2016-02-01 10:12:25',
 '2016-02-01 10:12:52',
 '2016-02-01 10:13:30',
 '2016-02-01 10:13:44',
 '2016-02-01 10:13:54',
 '2016-02-01 10:15:21',
 '2016-02-01 10:15:26',
 '2016-02-01 10:15:56',
 '2016-02-01 10:17:16',
 '2016-02-01 10:17:26',
 '2016-02-01 10:18:13',
 '2016-02-01 10:18:17',
 '2016-02-01 10:18:50',
 '2016-02-01 10:19:20',
 '2016-02-01 10:19:47',
 '2016-02-01 10:19:48',
 '2016-02-01 10:19:53',
 '2016-02-01 10:19:56',
 '2016-02-01 10:20:23',
 '2016-02-01 10:21:17',
 '2016-02-01 10:21:48',
 '2016-02-01 10:22:32',
 '2016-02-01 10:24:46',
 '2016-02-01 10:25:13',
 '2016-02-01 10:25:24',
 '2016-02-01 10:30:41',
 '2016-02-01 10:30:45',
 '2016-02-01 10:30:53',
 '2016-02-01 10:31:03',
 '2016-02-01 10:31:34',
 '2016-02-01 10:31:37',
 '2016-02-01 10:32:01',
 '2016-02-01 10:32:21',
 '2016-02-01 10:32:31',
 '2016-02-01 10:32:42',
 '2016-02-01 10:33:47',
 '2016-02-01 10:36:26',
 '2016-02-01 10:37:05',
 '2016-02-01 10:38:11',
 '2016-02-01 10:39:53',
 '2016-02-01 10:40:37',
 '2016-02-01 10:40:54',
 '2016-02-01 10:41:32',
 '2016-02-01 10:42:51',
 '2016-02-01 10:43:11',
 '2016-02-01 10:43:38',
 '2016-02-01 10:45:26',
 '2016-02-01 10:46:25',
 '2016-02-01 10:47:06',
 '2016-02-01 10:48:03',
 '2016-02-01 10:49:11',
 '2016-02-01 10:49:43',
 '2016-02-01 10:52:50',
 '2016-02-01 10:54:11',
 '2016-02-01 10:54:28',
 '2016-02-01 10:56:04',
 '2016-02-01 10:56:26',
 '2016-02-01 10:56:55',
 '2016-02-01 10:57:04',
 '2016-02-01 10:57:33',
 '2016-02-01 10:57:39',
 '2016-02-01 10:58:26',
 '2016-02-01 10:58:44',
 '2016-02-01 10:58:45',
 '2016-02-01 11:00:13',
 '2016-02-01 11:01:12',
 '2016-02-01 11:01:15',
 '2016-02-01 11:03:34',
 '2016-02-01 11:03:55',
 '2016-02-01 11:05:06',
 '2016-02-01 11:05:50',
 '2016-02-01 11:07:15',
 '2016-02-01 11:07:23',
 '2016-02-01 11:07:39',
 '2016-02-01 11:12:02',
 '2016-02-01 11:12:03',
 '2016-02-01 11:12:29',
 '2016-02-01 11:12:50',
 '2016-02-01 11:13:36',
 '2016-02-01 11:13:39',
 '2016-02-01 11:15:54',
 '2016-02-01 11:16:27',
 '2016-02-01 11:17:00',
 '2016-02-01 11:18:40',
 '2016-02-01 11:20:24',
 '2016-02-01 11:20:38',
 '2016-02-01 11:21:30',
 '2016-02-01 11:21:41',
 '2016-02-01 11:22:30',
 '2016-02-01 11:22:50',
 '2016-02-01 11:23:54',
 '2016-02-01 11:24:09',
 '2016-02-01 11:24:12',
 '2016-02-01 11:24:47',
 '2016-02-01 11:25:03',
 '2016-02-01 11:25:39',
 '2016-02-01 11:27:39',
 '2016-02-01 11:28:31',
 '2016-02-01 11:29:00',
 '2016-02-01 11:31:10',
 '2016-02-01 11:31:12',
 '2016-02-01 11:31:49',
 '2016-02-01 11:32:11',
 '2016-02-01 11:32:23',
 '2016-02-01 11:33:57',
 '2016-02-01 11:35:18',
 '2016-02-01 11:35:28',
 '2016-02-01 11:36:03',
 '2016-02-01 11:37:33',
 '2016-02-01 11:39:12',
 '2016-02-01 11:42:11',
 '2016-02-01 11:42:35',
 '2016-02-01 11:43:44',
 '2016-02-01 11:45:28',
 '2016-02-01 11:46:06',
 '2016-02-01 11:48:37',
 '2016-02-01 11:50:00',
 '2016-02-01 11:52:52',
 '2016-02-01 11:53:18',
 '2016-02-01 11:53:24',
 '2016-02-01 11:58:29',
 '2016-02-01 11:58:53',
 '2016-02-01 11:59:28',
 '2016-02-01 12:00:46',
 '2016-02-01 12:01:25',
 '2016-02-01 12:01:29',
 '2016-02-01 12:02:22',
 '2016-02-01 12:02:35',
 '2016-02-01 12:03:00',
 '2016-02-01 12:04:34',
 '2016-02-01 12:05:30',
 '2016-02-01 12:05:58',
 '2016-02-01 12:10:32',
 '2016-02-01 12:12:13',
 '2016-02-01 12:13:14',
 '2016-02-01 12:13:33',
 '2016-02-01 12:13:54',
 '2016-02-01 12:15:33',
 '2016-02-01 12:16:11',
 '2016-02-01 12:20:50',
 '2016-02-01 12:21:57',
 '2016-02-01 12:22:18',
 '2016-02-01 12:22:46',
 '2016-02-01 12:25:02',
 '2016-02-01 12:25:28',
 '2016-02-01 12:26:36',
 '2016-02-01 12:28:57',
 '2016-02-01 12:29:07',
 '2016-02-01 12:29:15',
 '2016-02-01 12:29:21',
 '2016-02-01 12:30:27',
 '2016-02-01 12:33:53',
 '2016-02-01 12:34:16',
 '2016-02-01 12:34:38',
 '2016-02-01 12:34:50',
 '2016-02-01 12:35:14',
 '2016-02-01 12:36:22',
 '2016-02-01 12:38:21',
 '2016-02-01 12:39:24',
 '2016-02-01 12:39:25',
 '2016-02-01 12:40:04',
 '2016-02-01 12:40:54',
 '2016-02-01 12:41:04',
 '2016-02-01 12:42:07',
 '2016-02-01 12:43:24',
 '2016-02-01 12:43:44',
 '2016-02-01 12:44:18',
 '2016-02-01 12:44:50',
 '2016-02-01 12:48:09',
 '2016-02-01 12:48:17',
 '2016-02-01 12:48:33',
 '2016-02-01 12:49:37',
 '2016-02-01 12:49:53',
 '2016-02-01 12:51:10',
 '2016-02-01 12:52:03',
 '2016-02-01 12:52:42',
 '2016-02-01 12:54:29',
 '2016-02-01 12:54:31',
 '2016-02-01 12:54:56',
 '2016-02-01 12:55:48',
 '2016-02-01 12:56:01',
 '2016-02-01 12:57:20',
 '2016-02-01 12:57:29',
 '2016-02-01 12:58:00',
 '2016-02-01 12:58:35',
 '2016-02-01 13:00:22',
 '2016-02-01 13:00:44',
 '2016-02-01 13:01:25',
 '2016-02-01 13:02:54',
 '2016-02-01 13:03:11',
 '2016-02-01 13:03:29',
 '2016-02-01 13:03:42',
 '2016-02-01 13:04:02',
 '2016-02-01 13:04:23',
 '2016-02-01 13:04:40',
 '2016-02-01 13:06:28',
 '2016-02-01 13:06:46',
 '2016-02-01 13:07:45',
 '2016-02-01 13:08:59',
 '2016-02-01 13:09:17',
 '2016-02-01 13:09:28',
 '2016-02-01 13:09:48',
 '2016-02-01 13:09:49',
 '2016-02-01 13:10:06',
 '2016-02-01 13:12:53',
 '2016-02-01 13:14:54',
 '2016-02-01 13:15:06',
 '2016-02-01 13:15:22',
 '2016-02-01 13:16:35',
 '2016-02-01 13:16:44',
 '2016-02-01 13:16:47',
 '2016-02-01 13:17:18',
 '2016-02-01 13:18:13',
 '2016-02-01 13:18:37',
 '2016-02-01 13:19:44',
 '2016-02-01 13:21:06',
 '2016-02-01 13:21:27',
 '2016-02-01 13:21:56',
 '2016-02-01 13:23:23',
 '2016-02-01 13:23:48',
 '2016-02-01 13:23:53',
 '2016-02-01 13:24:47',
 '2016-02-01 13:25:16',
 '2016-02-01 13:25:41',
 '2016-02-01 13:25:50',
 '2016-02-01 13:25:51',
 '2016-02-01 13:26:04',
 '2016-02-01 13:26:11',
 '2016-02-01 13:26:55',
 '2016-02-01 13:27:12',
 '2016-02-01 13:27:13',
 '2016-02-01 13:28:34',
 '2016-02-01 13:29:16',
 '2016-02-01 13:30:24',
 '2016-02-01 13:30:37',
 '2016-02-01 13:30:39',
 '2016-02-01 13:30:58',
 '2016-02-01 13:31:00',
 '2016-02-01 13:31:27',
 '2016-02-01 13:31:45',
 '2016-02-01 13:32:11',
 '2016-02-01 13:32:42',
 '2016-02-01 13:33:17',
 '2016-02-01 13:33:27',
 '2016-02-01 13:34:45',
 '2016-02-01 13:35:21',
 '2016-02-01 13:36:00',
 '2016-02-01 13:36:23',
 '2016-02-01 13:36:31',
 '2016-02-01 13:37:05',
 '2016-02-01 13:37:06',
 '2016-02-01 13:37:15',
 '2016-02-01 13:37:28',
 '2016-02-01 13:37:56',
 '2016-02-01 13:38:24',
 '2016-02-01 13:39:38',
 '2016-02-01 13:39:54',
 '2016-02-01 13:39:55',
 '2016-02-01 13:40:39',
 '2016-02-01 13:41:06',
 '2016-02-01 13:42:52',
 '2016-02-01 13:43:23',
 '2016-02-01 13:43:54',
 '2016-02-01 13:43:58',
 '2016-02-01 13:44:04',
 '2016-02-01 13:44:14',
 '2016-02-01 13:44:15',
 '2016-02-01 13:44:29',
 '2016-02-01 13:44:50',
 '2016-02-01 13:45:26',
 '2016-02-01 13:46:31',
 '2016-02-01 13:46:47',
 '2016-02-01 13:47:21',
 '2016-02-01 13:47:48',
 '2016-02-01 13:48:50',
 '2016-02-01 13:48:58',
 '2016-02-01 13:49:00',
 '2016-02-01 13:49:12',
 '2016-02-01 13:49:25',
 '2016-02-01 13:49:26',
 '2016-02-01 13:49:54',
 '2016-02-01 13:50:04',
 '2016-02-01 13:50:21',
 '2016-02-01 13:51:04',
 '2016-02-01 13:51:14',
 '2016-02-01 13:51:39',
 '2016-02-01 13:51:49',
 '2016-02-01 13:51:51',
 '2016-02-01 13:52:04',
 '2016-02-01 13:52:05',
 '2016-02-01 13:52:07',
 '2016-02-01 13:52:12',
 '2016-02-01 13:52:15',
 '2016-02-01 13:52:37',
 '2016-02-01 13:52:42',
 '2016-02-01 13:53:04',
 '2016-02-01 13:53:06',
 '2016-02-01 13:53:06',
 '2016-02-01 13:53:23',
 '2016-02-01 13:53:58',
 '2016-02-01 13:54:01',
 '2016-02-01 13:54:03',
 '2016-02-01 13:54:31',
 '2016-02-01 13:54:40',
 '2016-02-01 13:54:47',
 '2016-02-01 13:54:49',
 '2016-02-01 13:55:20',
 '2016-02-01 13:55:35',
 '2016-02-01 13:55:44',
 '2016-02-01 13:56:04',
 '2016-02-01 13:56:04',
 '2016-02-01 13:56:44',
 '2016-02-01 13:57:28',
 '2016-02-01 13:57:37',
 '2016-02-01 13:58:34',
 '2016-02-01 13:58:48',
 '2016-02-01 13:59:09',
 '2016-02-01 13:59:18',
 '2016-02-01 13:59:28',
 '2016-02-01 13:59:38',
 '2016-02-01 14:00:00',
 '2016-02-01 14:00:40',
 '2016-02-01 14:00:43',
 '2016-02-01 14:00:54',
 '2016-02-01 14:01:12',
 '2016-02-01 14:01:27',
 '2016-02-01 14:01:34',
 '2016-02-01 14:02:53',
 '2016-02-01 14:03:15',
 '2016-02-01 14:03:36',
 '2016-02-01 14:04:05',
 '2016-02-01 14:04:08',
 '2016-02-01 14:04:41',
 '2016-02-01 14:04:50',
 '2016-02-01 14:05:34',
 '2016-02-01 14:05:39',
 '2016-02-01 14:05:56',
 '2016-02-01 14:06:04',
 '2016-02-01 14:06:06',
 '2016-02-01 14:06:22',
 '2016-02-01 14:06:35',
 '2016-02-01 14:06:54',
 '2016-02-01 14:07:53',
 '2016-02-01 14:08:08',
 '2016-02-01 14:08:30',
 '2016-02-01 14:08:41',
 '2016-02-01 14:09:01',
 '2016-02-01 14:09:15',
 '2016-02-01 14:09:28',
 '2016-02-01 14:09:46',
 '2016-02-01 14:09:58',
 '2016-02-01 14:10:08',
 '2016-02-01 14:10:25',
 '2016-02-01 14:10:38',
 '2016-02-01 14:10:38',
 '2016-02-01 14:11:16',
 '2016-02-01 14:11:21',
 '2016-02-01 14:12:28',
 '2016-02-01 14:12:29',
 '2016-02-01 14:13:13',
 '2016-02-01 14:13:22',
 '2016-02-01 14:13:26',
 '2016-02-01 14:13:35',
 '2016-02-01 14:13:39',
 '2016-02-01 14:13:42',
 '2016-02-01 14:13:55',
 '2016-02-01 14:13:59',
 '2016-02-01 14:14:43',
 '2016-02-01 14:15:24',
 '2016-02-01 14:15:31',
 '2016-02-01 14:15:50',
 '2016-02-01 14:16:06',
 '2016-02-01 14:16:16',
 '2016-02-01 14:16:24',
 '2016-02-01 14:16:38',
 '2016-02-01 14:17:08',
 '2016-02-01 14:17:14',
 '2016-02-01 14:17:44',
 '2016-02-01 14:17:56',
 '2016-02-01 14:18:10',
 '2016-02-01 14:18:35',
 '2016-02-01 14:18:57',
 '2016-02-01 14:18:59',
 '2016-02-01 14:19:07',
 '2016-02-01 14:19:41',
 '2016-02-01 14:19:45',
 '2016-02-01 14:19:47',
 '2016-02-01 14:20:02',
 '2016-02-01 14:20:23',
 '2016-02-01 14:21:45',
 '2016-02-01 14:22:33',
 '2016-02-01 14:22:47',
 '2016-02-01 14:22:47',
 '2016-02-01 14:23:19',
 '2016-02-01 14:24:10',
 '2016-02-01 14:24:48',
 '2016-02-01 14:24:54',
 '2016-02-01 14:24:56',
 '2016-02-01 14:25:15',
 '2016-02-01 14:25:43',
 '2016-02-01 14:26:10',
 '2016-02-01 14:26:13',
 '2016-02-01 14:26:52',
 '2016-02-01 14:26:56',
 '2016-02-01 14:27:10',
 '2016-02-01 14:27:31',
 '2016-02-01 14:27:35',
 '2016-02-01 14:27:41',
 '2016-02-01 14:27:44',
 '2016-02-01 14:27:47',
 '2016-02-01 14:27:48',
 '2016-02-01 14:28:03',
 '2016-02-01 14:28:12',
 '2016-02-01 14:28:15',
 '2016-02-01 14:28:57',
 '2016-02-01 14:28:59',
 '2016-02-01 14:29:05',
 '2016-02-01 14:29:05',
 '2016-02-01 14:29:42',
 '2016-02-01 14:30:12',
 '2016-02-01 14:30:27',
 '2016-02-01 14:30:28',
 '2016-02-01 14:30:33',
 '2016-02-01 14:30:33',
 '2016-02-01 14:30:35',
 '2016-02-01 14:30:55',
 '2016-02-01 14:31:40',
 '2016-02-01 14:31:42',
 '2016-02-01 14:32:27',
 '2016-02-01 14:32:33',
 '2016-02-01 14:32:38',
 '2016-02-01 14:32:55',
 '2016-02-01 14:33:02',
 '2016-02-01 14:33:08',
 '2016-02-01 14:33:45',
 '2016-02-01 14:33:50',
 '2016-02-01 14:34:09',
 '2016-02-01 14:34:10',
 '2016-02-01 14:34:10',
 '2016-02-01 14:34:11',
 '2016-02-01 14:34:27',
 '2016-02-01 14:34:48',
 '2016-02-01 14:34:56',
 '2016-02-01 14:35:09',
 '2016-02-01 14:35:42',
 '2016-02-01 14:36:02',
 '2016-02-01 14:36:17',
 '2016-02-01 14:36:30',
 '2016-02-01 14:36:46',
 '2016-02-01 14:36:51',
 '2016-02-01 14:37:06',
 '2016-02-01 14:37:08',
 '2016-02-01 14:37:26',
 '2016-02-01 14:37:28',
 '2016-02-01 14:37:40',
 '2016-02-01 14:37:41',
 '2016-02-01 14:37:56',
 '2016-02-01 14:37:58',
 '2016-02-01 14:38:07',
 '2016-02-01 14:38:22',
 '2016-02-01 14:38:39',
 '2016-02-01 14:38:39',
 '2016-02-01 14:38:48',
 '2016-02-01 14:39:28',
 '2016-02-01 14:39:51',
 '2016-02-01 14:39:58',
 '2016-02-01 14:40:03',

In [40]:
train['Datetime'] = time

In [44]:
train.head(5)

              Datetime  Longitude_X  Latitude_Y
0  2016-02-01 08:01:10   121.590916   25.080958
1  2016-02-01 08:01:16   121.551468   25.063524
2  2016-02-01 08:01:42   121.568883   25.068289
3  2016-02-01 08:01:59   121.559309   25.057847
4  2016-02-01 08:02:04   121.563837   25.052547

In [80]:
train["Longitude_X"] = 1

In [81]:
train

                    Datetime  Longitude_X  Latitude_Y
0        2016-02-01 08:01:10            1   25.080958
1        2016-02-01 08:01:16            1   25.063524
2        2016-02-01 08:01:42            1   25.068289
3        2016-02-01 08:01:59            1   25.057847
4        2016-02-01 08:02:04            1   25.052547
5        2016-02-01 08:02:24            1   25.079119
6        2016-02-01 08:02:26            1   25.063044
7        2016-02-01 08:02:56            1   25.084875
8        2016-02-01 08:03:00            1   25.052664
9        2016-02-01 08:03:13            1   25.052141
10       2016-02-01 08:03:25            1   25.063644
11       2016-02-01 08:03:28            1   25.067112
12       2016-02-01 08:03:34            1   25.060467
13       2016-02-01 08:03:44            1   25.079848
14       2016-02-01 08:03:49            1   25.079664
15       2016-02-01 08:04:02            1   25.081436
16       2016-02-01 08:04:42            1   25.055034
17       2016-02-01 08:05:10            1   25.058591
18       2016-02-01 08:05:31            1   25.071000
19       2016-02-01 08:05:48            1   25.061933
20       2016-02-01 08:06:01            1   25.058943
21       2016-02-01 08:06:12            1   25.067132
22       2016-02-01 08:06:20            1   25.057992
23       2016-02-01 08:06:28            1   25.070373
24       2016-02-01 08:06:30            1   25.060546
25       2016-02-01 08:07:23            1   25.073837
26       2016-02-01 08:07:46            1   25.059112
27       2016-02-01 08:08:06            1   25.078470
28       2016-02-01 08:08:10            1   25.077169
29       2016-02-01 08:08:31            1   25.072566
...                      ...          ...         ...
4118782  2017-01-31 23:52:28            1   25.085566
4118783  2017-01-31 23:52:40            1   25.054963
4118784  2017-01-31 23:52:40            1   25.056035
4118785  2017-01-31 23:52:59            1   25.072275
4118786  2017-01-31 23:53:01            1   25.060295
4118787  2017-01-31 23:53:12            1   25.067615
4118788  2017-01-31 23:53:28            1   25.060508
4118789  2017-01-31 23:53:33            1   25.059978
4118790  2017-01-31 23:54:26            1   25.054371
4118791  2017-01-31 23:54:38            1   25.084898
4118792  2017-01-31 23:54:49            1   25.063554
4118793  2017-01-31 23:55:46            1   25.053974
4118794  2017-01-31 23:56:12            1   25.084664
4118795  2017-01-31 23:56:38            1   25.062336
4118796  2017-01-31 23:57:19            1   25.076092
4118797  2017-01-31 23:57:21            1   25.063223
4118798  2017-01-31 23:57:27            1   25.083864
4118799  2017-01-31 23:57:34            1   25.079233
4118800  2017-01-31 23:57:53            1   25.055693
4118801  2017-01-31 23:58:08            1   25.058761
4118802  2017-01-31 23:58:15            1   25.056620
4118803  2017-01-31 23:58:48            1   25.083908
4118804  2017-01-31 23:58:59            1   25.090879
4118805  2017-01-31 23:59:04            1   25.080322
4118806  2017-01-31 23:59:04            1   25.057235
4118807  2017-01-31 23:59:25            1   25.056671
4118808  2017-01-31 23:59:47            1   25.086632
4118809  2017-01-31 23:59:48            1   25.061945
4118810  2017-01-31 23:59:50            1   25.087894
4118811  2017-01-31 23:59:51            1   25.072709

[4118812 rows x 3 columns]

In [48]:
train1=train.reindex(train['Datetime'])

In [57]:
a=train['Datetime'] #Series

In [61]:
a=list(a)

In [62]:
b=['count']

In [84]:
df = pd.DataFrame(list(train["Longitude_X"]),index = a, columns = b)

In [89]:
df.sort_index()

                     count
2016-02-01 08:01:10      1
2016-02-01 08:01:16      1
2016-02-01 08:01:42      1
2016-02-01 08:01:59      1
2016-02-01 08:02:04      1
2016-02-01 08:02:24      1
2016-02-01 08:02:26      1
2016-02-01 08:02:56      1
2016-02-01 08:03:00      1
2016-02-01 08:03:13      1
2016-02-01 08:03:25      1
2016-02-01 08:03:28      1
2016-02-01 08:03:34      1
2016-02-01 08:03:44      1
2016-02-01 08:03:49      1
2016-02-01 08:04:02      1
2016-02-01 08:04:42      1
2016-02-01 08:05:10      1
2016-02-01 08:05:31      1
2016-02-01 08:05:48      1
2016-02-01 08:06:01      1
2016-02-01 08:06:12      1
2016-02-01 08:06:20      1
2016-02-01 08:06:28      1
2016-02-01 08:06:30      1
2016-02-01 08:07:23      1
2016-02-01 08:07:46      1
2016-02-01 08:08:06      1
2016-02-01 08:08:10      1
2016-02-01 08:08:31      1
...                    ...
2017-01-31 23:52:28      1
2017-01-31 23:52:40      1
2017-01-31 23:52:40      1
2017-01-31 23:52:59      1
2017-01-31 23:53:01      1
2017-01-31 23:53:12      1
2017-01-31 23:53:28      1
2017-01-31 23:53:33      1
2017-01-31 23:54:26      1
2017-01-31 23:54:38      1
2017-01-31 23:54:49      1
2017-01-31 23:55:46      1
2017-01-31 23:56:12      1
2017-01-31 23:56:38      1
2017-01-31 23:57:19      1
2017-01-31 23:57:21      1
2017-01-31 23:57:27      1
2017-01-31 23:57:34      1
2017-01-31 23:57:53      1
2017-01-31 23:58:08      1
2017-01-31 23:58:15      1
2017-01-31 23:58:48      1
2017-01-31 23:58:59      1
2017-01-31 23:59:04      1
2017-01-31 23:59:04      1
2017-01-31 23:59:25      1
2017-01-31 23:59:47      1
2017-01-31 23:59:48      1
2017-01-31 23:59:50      1
2017-01-31 23:59:51      1

[4118812 rows x 1 columns]

In [95]:
caculate=[]
for i in range(len(df)):
    df['2016-02-01 08:01:10':'2016-02-01 09:00:00'].count()

count    212
dtype: int64

In [99]:
year_2016=df['2016-02-01 00:00:00':'2016-12-31 24:00:00']

In [100]:
year_2017=df['2017-01-01 00:00:00':'2017-12-31 24:00:00']

In [ ]:
year_2016['2016-02-01 00:00:00':'2016-12-31 24:00:00']

In [106]:
for i in range(len(year_2016)):
    year_2016['2016-02-01 0'+i:'2016-02-01 09'].count()

count    212
dtype: int64

In [116]:
pd.value_counts(year_2016.index)

2016-08-12 18:34:35    12
2016-08-12 18:36:11    11
2016-08-12 18:35:22    11
2016-08-12 18:33:57    10
2016-08-12 18:34:04    10
2016-08-12 18:33:41    10
2016-08-12 18:36:30    10
2016-08-12 18:33:44    10
2016-08-12 18:35:18    10
2016-08-12 18:36:56     9
2016-08-12 18:37:11     9
2016-08-12 18:37:22     9
2016-08-12 18:36:07     9
2016-08-12 18:36:01     9
2016-08-12 18:34:43     8
2016-08-12 18:34:00     8
2016-08-12 18:37:04     8
2016-08-12 18:36:26     8
2016-08-12 18:36:37     8
2016-08-12 18:35:37     8
2016-08-12 18:34:01     8
2016-08-12 18:37:10     8
2016-08-12 18:36:08     8
2016-08-12 18:34:44     8
2016-08-12 18:35:26     8
2016-08-12 18:34:48     8
2016-08-12 18:35:30     8
2016-08-12 18:33:33     7
2016-08-12 18:35:33     7
2016-08-12 18:36:06     7
                       ..
2016-03-02 06:11:48     1
2016-02-08 20:59:11     1
2016-08-23 03:05:29     1
2016-12-10 23:35:51     1
2016-12-13 17:06:44     1
2016-09-23 01:44:59     1
2016-05-28 19:48:35     1
2016-06-02 18:20:15     1
2016-02-03 19:11:18     1
2016-09-12 15:51:54     1
2016-10-22 21:53:30     1
2016-03-17 18:49:52     1
2016-06-24 18:53:32     1
2016-12-05 20:37:46     1
2016-04-05 20:44:08     1
2016-12-28 18:21:05     1
2016-06-24 01:41:34     1
2016-10-24 21:01:02     1
2016-03-17 18:23:04     1
2016-05-26 17:07:55     1
2016-08-11 15:15:00     1
2016-11-30 06:30:06     1
2016-10-01 03:31:29     1
2016-03-17 19:57:17     1
2016-12-05 22:44:11     1
2016-03-26 01:44:56     1
2016-08-19 16:30:54     1
2016-05-26 20:33:44     1
2016-03-29 04:21:18     1
2016-07-13 10:04:56     1
Length: 3435987, dtype: int64

In [ ]:
year_2016['2016-02-01 00:00:00':'']